{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "ie": "11"
                },

                "exclude": [
                    "@babel/plugin-transform-typeof-symbol"
                ],

                "modules": false
            }
        ]
    ],

    "plugins": [
        "@babel/plugin-syntax-flow",
        "@babel/plugin-syntax-jsx",
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-transform-react-display-name",
        "@babel/plugin-transform-react-jsx",
        ["module:transform-modules-eumd", {
            "addModuleExports": false,
            "allowTopLevelThis": true,
            "strictMode": true
        }]
    ]
}
